$protoss-color: #f1c232;
$terran-color: #6fa8dc;
$zerg-color: #c27ba0;

.flex-column-container {
    display: flex;
    align-items: flex-start;

    > div {
        margin: 0em 2em;
    }
}

ul {
    list-style: none;
    margin: 0;

    li.active {
        color: lightgreen;
    }
}

html {
    font-size: xx-small;
}

h3 {
    margin: 0 0;
}

@each $race, $color in (protoss: $protoss-color, terran: $terran-color, zerg: $zerg-color) {
    .race_#{$race} {
        color: $color;
    }
}
